{
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "proseWrap": "preserve",
  "tailwindFunctions": ["clsx", "tw"]

}
